.header {
  margin-top: 45px;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

.header .icons {
  display: inline-block;
  margin-top: 26px;
}

.header .icons li {
  float: left;
  margin: 0 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(252,251,247,.13);
}

header .icons img {
  width: 24px;
  height: 24px;
}

.nav {
  list-style: none;
  font-family: "Paytone One";
}

.nav ul {
  margin: 0 auto;
  max-width: 790px;
}

.nav li {
  float: left;
}

.nav a {
  display: block;
  padding: 25px 23px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.nav a:hover {
  border-bottom: 7px solid white;
  padding-bottom: 18px;
}