body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%
}

@font-face {
  font-family: 'Paytone One';
  src: url('./pages/fonts/paytone-one.woff2') format('woff2')
}

@font-face {
  font-family: 'Raleway';
  src: url('./pages/fonts/raleway.woff2') format('woff2')
}