.game-rules {
  position: absolute;
  top: 173px;
  right: 50%;
  width: 360px;
  margin-right: -518px;
  font-family: Raleway;
  font-size: 13px;
}

.game-rules ul {
  list-style: disc;
  font-weight: bold;
  padding-left: 25px;
}

.game-rules a {
  width: 100%;
  text-align: right;
  display: block;
  color: black;
}

.game-rules .hidden {
  display: none;
}
