.game-rules {
  position: absolute;
  top: 158px;
  margin-left: -70px;
  width: 360px;
  font-family: Raleway;
  font-size: 13px;
  background-color: white;
}

.game-rules ul {
  list-style: disc;
  font-weight: bold;
  padding-left: 25px;
}

.game-rules a {
  width: 100%;
  font-weight: bold;
  font-size: 12px;
  text-decoration: none;
  text-align: right;
  display: block;
  color: black;
}

.game-rules .visible {
  height: 333px;
}
