.success-message, .error-message {
  font-family: Raleway;
  font-size: 12px;
  color: green;
  display: block;
  text-align: center;
  padding-bottom: 22px;
  height: 38px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

.success-message b {
  font-family: "Paytone One";
  font-size: 16px;
  letter-spacing: 1px;
}

.success-message p {
  margin: 0;
}

.score-button + .error-message, .score-button-stub + .error-message {
  padding-top: 21px;
}