#typed-digits {
  width: 100%;
  height: 30px;
  margin: 0;
  padding-bottom: 13px;
  text-align: center;
}

#typed-digits li {
  font-family: "Paytone One";  
  font-size: 18px;
  display: inline-block;
}

#typed-digits li a {
  display: inline-block;
  width: 10px;
  color: #000;
  padding: 5px;
  text-decoration: none;
}